$text-color: #000;
$inverse-color: #fff;

$brand-graph-colors: (
  #5F7A76,
  #FD9A69,
  #2AD2C9,
  #614767,
  #CCCCCC
);

$brand-light-colors: (#ffffff, #f0f0f0);

$border: 3px solid $inverse-color;
